@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@200;300;400;500;600;700;800&display=swap');

.startup {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #242020;
  color: #f2f2f2;
  font-family: 'Saira Extra Condensed', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  text-shadow: 1px 1px 0px #000;
  height: 100vh;
  width: 100vw;
}

.startup_box {
  background: rgba(184, 241, 150, 0.2);
  border-radius: 10px;
  box-shadow: 5px 5px 5px #000 rgba(187, 187, 187, 0.7);
  height: 100vh;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.startup__title {
  font-family: 'Saira Extra Condensed', sans-serif;
  font-weight: 400;
  font-size: 3rem;
  text-shadow: 1px 1px 0px #000000;
  padding: 1rem;
}

.startup b {
  font-weight: 600;
}

.startup img {
  vertical-align: middle;
  position: relative;
  bottom: 0.1rem;
}

/* ---- footer text ----- */

.startup_footer {
  font-size: 1.25rem;
  align-items: center;
  vertical-align: middle;
  margin: 0.5rem auto 0;
  position: relative;
  bottom: -1rem;
}

/* ----- LOGIN button ----- */

.startup button {
  background: rgba(184, 241, 150, 0.1);
  box-shadow: 2px 2px 1px #B8F196;
  color: #f2f2f2;
  text-shadow: 2px 2px 1px #000000;
  margin: 0 auto;
}

.startup button:visited, .startup button:hover, .startup button:active {
  background: rgba(184, 241, 150, 0.5);
}
