@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@200;600&display=swap');


.catalogue {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0.5rem;
}

.catalogue__left {
  display: flex;
  justify-content: safe;
  align-items: center;
}

.catalogue--allconsoles, .catalogue--allgames {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  background-color: rgba(36, 32, 32, 0.8);
  border-radius: 10px;
  margin: 1rem 0rem;
  padding: 0.1rem;
  line-height: 0.7;
  font-family: 'Saira Extra Condensed', sans-serif;
  font-weight: 200;
  font-size: 3rem;
  color: #F2F2F2;
  text-shadow: 1px 1px 0px #000000;
}

.catalogue--allconsoles p, .catalogue--allgames p {
padding-left: 1rem;
}

a:link, a:visited {
color: #f2f2f2;
text-decoration: none;
}

a:hover {
  text-shadow: 3px 3px 2px rgba(242, 242, 242, 0.5);
}

.catalogue__icon {
  margin-right: 4rem;
}

.catalogue__icon img {
  width: 4rem;
  height: auto;
  position: relative;
  left: 2rem;
  margin-right: 2rem;
}

.button-addnew {
  display: flex;
  flex-direction: column;
  background: rgba(184, 241, 150, 0.6);
  border-radius: 10px;
  padding: 0.2rem 0.6rem;
  font-family: 'Saira Extra Condensed', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5;
  color: #F2F2F2;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.6);
  margin-right: 0.7rem;
}

.button-addnew:hover {
opacity: 0.8;
}

.catalogue__icon__addnew img {
  width: 2rem;
  height: auto;
}

.catalogue--filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(36, 32, 32, 0.8);
  border-radius: 10px;
  font-family: 'Saira Extra Condensed', sans-serif;
  font-weight: 200;
  font-size: 3rem;
  padding: 0.1rem;
  line-height: 0.7;
  color: #F2F2F2;
  text-shadow: 1px 1px 0px #000000;
}

.catalogue--filter p {
  padding-left: 1rem;
}