.menu {
  background-color: #242020;
  color: #ffffff;
  max-height: 4rem;
  min-height: 4rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.menu a:link, .menu a:visited {
  color: #FFF;
}

.menu a:hover, .menu a:active {
  color: 	rgba(184, 241, 150, 0.6);
}

.icons {
  font-size: xx-large;
}