.app {
  max-width: 38rem;
  min-width: 255px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  background-color: #242020;
}

.app > * {
  flex: 1 1 auto;
}