@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@200;600&display=swap');

.form--console {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color:	rgba(184, 241, 150, 0.6);
  margin: 1rem 0.3rem;
  box-shadow: 1px 2px 2px #000000;
  height: max-content;
  padding: 1rem;
}

/*----- close icon -----*/
.form--console__icon {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  padding-bottom: 0.75rem;
}

.form--console__icon :hover {
  filter: invert(0.9);
}

/*----- form lines -----*/
.form--console__form {
  line-height: 2;
}

/*----- big label text -----*/
.form--console label {
  font-family: 'Saira Extra Condensed', sans-serif;
  font-weight: 200;
  font-size: 2rem;
  color: #f2f2f2;
  text-shadow: 1px 1px 0px #000;
  text-align: left;
  float: left;
}

/*----- input text -----*/
.form--console [type="text"] {
  font-family: 'Saira Extra Condensed', sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  text-transform: none;
  color: #242020;
  text-align: left;
  min-width: 60vw;
  max-width: 20rem;
  margin-bottom: 0.5rem;
  float: left;
}

/*----- bottom buttons -----*/
.form--console__buttons {
  display: block;
  margin: 0 auto; 
}