@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@200;400;600;800&display=swap');

.stats {

}

/* ----- STATIC STATS ----- */
.stats__static--box {
  background: rgba(36, 32, 32, 0.5);
  border-radius: 10px;
  margin: 1rem 0.5rem;
  padding: 1.5rem;
  min-width: 155px;
}

.stats__static__title {
  font-family: 'Saira Extra Condensed', sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  color: #f2f2f2;
  text-align: center;
  padding: 1rem;
}

.stats__static--row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.8rem 0;
  align-items: center;
  color: #f2f2f2;
}

.stats__static__text {
  font-family: 'Saira Extra Condensed', sans-serif;
  font-weight: 300;
  font-size: 1.75rem;
  color: #f2f2f2;
  text-shadow: 1px 1px 0px #000;
}

.stats__static__numbers {
  font-family: 'Saira Extra Condensed', sans-serif;
  font-weight: 600;
  font-size: 1.75rem;
  color: rgba(184, 241, 150, 0.6);
  letter-spacing: 0.1em;
  background: #242020;
  border-radius: 2px 0px 0px 2px;
  border-right: 3px solid rgba(184, 241, 150, 0.6);
  padding-right: 1rem;
  padding-left: 5rem;
  margin-right: -1.5rem;
}

@media only screen and (max-width: 310px) {
  .stats__static__title {
    font-size: 1.75rem;
  }
  .stats__static__text {
    font-size: 1.25rem;
  }
  .stats__static__numbers {
    font-size: 1.25rem;
    padding-left: 3rem;
  }
}
