@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@300;600&display=swap');

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  background-color:	rgba(184, 241, 150, 0.6);
  margin: 1rem 0.3rem;
  box-shadow: 1px 2px 2px #000000;
}

/*----- close icon -----*/
.form--icon {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  padding-bottom: 0.75rem; 
}

.form--row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  line-height: 1;
  margin-right: 1rem;
}

/*----- big label text -----*/
.form label {
  font-family: 'Saira Extra Condensed', sans-serif;
  font-weight: 300;
  font-size: 1.7rem;
  color: #F2F2F2;
  text-shadow: 1px 1px 0px #000000;
  text-align: left;
}

/*----- selection texts -----*/
.form select, .form [type="date"], .form [type="time"], .form [type="text"] {
  font-family: 'Saira Extra Condensed', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: #242020;
  text-transform: uppercase;
  text-align: left;
  width: 45vw;
  max-width: 20rem;
}

/*----- buttons -----*/
.form--buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}