@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@200;300;600;700&display=swap');

.card-log {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  background-color:	rgba(184, 241, 150, 0.6);
  margin: 1rem 0.3rem;
  color: #000000;
  box-shadow: 1px 2px 2px #000000;
}

.card-log--left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.3rem;
}

/* font-weight 600*/
.card-log__title {
  flex-shrink: 1;
  font-family: 'Saira Extra Condensed', sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  text-align: left;
  word-wrap: normal;
}

/* ----- STATS ----- */

.card-log--statistics {
  display: grid;
  flex-direction: row;
  flex-grow: 1;
  position: relative;
  right: 0.5rem;
  line-height: 1;
  margin: 0.25rem;
}

.card-log--row {
  display: flex;
  justify-content:space-between;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
}

.card-log__icon {
  align-items: center;
}

.card-log__icon img {
  width: 1.25rem;
  height: auto;
  padding: 0.3rem;
  padding-right: 1rem;
  vertical-align: middle;
}

/* font-weight 300*/
.card-log__console, .card-log__date, .card-log__playtime {
  font-family: 'Saira Extra Condensed', sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  text-align: right;
  word-wrap: normal;
}

/* ----- EDITING ----- */

/* font-weight 700*/
.card-log--edit {
  display: flex;
  align-items: center;
  border-radius: 0 10px 10px 0;
  background:	rgba(36, 32, 32, 0.7);
  color:	rgba(242, 242, 242, 0.4);
  font-family: 'Saira Extra Condensed', sans-serif;
  font-weight: 700;
  letter-spacing: 0.2rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  transition: width 0.5s;
  transition-timing-function: ease;
}

.card-log--edit p {
  display: flex;
  justify-content: space-around;  
  transform: rotate(90deg);
}

.card-log--edit:hover{
  width: max-content;
}

.card-log--edit:hover p {
  font-family: 'Saira Extra Condensed', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
  color: rgba(242, 242, 242, 0.8);
  text-transform: uppercase;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.9);
}

@media only screen and (max-width: 385px) {
  .card-log__title {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 350px) {
  .card-log__console, .card-log__date, .card-log__playtime {
    font-size: 1rem;
  }
}